{% extends 'pages/base.html' %}

{% block container %}
     <div class="main_container">
        <div class="container ">
        <h3 class="privacy-policy mt-5">Privacy Policy</h3>
        <p>Our privacy policy applies to information we collect when you use or access our website, application, or just interact with us. We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective from the same time after we post the revised privacy policy (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.</p>

        <h4>Collection of Information-Information You Provide to Us</h4>

        <p>We collect information you provide directly to us. For example, we collect information when you participate in any interactive features of our services, fill out a form, request customer support, provide any contact or identifying information or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide.</p>

        <h4>Information We Collect Automatically When You Use the Services</h4>

        <p>When you access or use our services, we automatically collect information about you, including:
         Request parameters and url. Time of requests. Ip of request. Headers in request parameter.</p>

        <h4>Information We Collect From Other Sources</h4>

        <p>In order to provide you with access to the Service, or to provide you with better service in general, we may combine information obtained from other sources and combine that with information we collect through our services.
        We collect currency data from: https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html</p>

        <h4>Use of Information</h4>
        <p>We use information about you for various purposes, including to:</p>
        <ul>
          <li>Provide, maintain and improve our services;</li>
          <li>Provide services you request, process transactions and to send you related information;</li>
          <li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
          <li>Respond to your comments, questions and requests and provide customer service;</li>
          <li>Communicate with you about news and information related to our service;</li>
          <li>Monitor and analyze trends, usage and activities in connection with our services; and</li>
          <li>Personalize and improve our services.</li>
        </ul>
        <p>By accessing and using our services, you consent to the processing and transfer of your information in and to the United States and other countries.</p>

        <h4>Sharing of Information</h4>
        <p>We may share personal information about you as follows:</p>
        <ul>
        <li>With third party vendors and other service providers who need access to your information to carry out work on our behalf, such as for Ex: google analytics;</li>
        <li>If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;</li>
        <li>To enforce applicable user agreements or policies, including our Terms of Service theforexapi.com/terms/; and to protect us, our users or the public from harm or illegal activities;</li>
        <li>In connection with any merger, sale of **[DEVELOPER NAME]** assets, financing or acquisition of all or a portion of our business to another company;</li>
        <li>If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.</li>
        </ul>
        <p>We may also share aggregated or anonymized information that does not directly identify you.</p>

        <h4>Third Party Analytics</h4>

        <p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.</p>

        <h4>Security</h4>

        <p>We take reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>

        <h4>Cookies</h4>

        <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.</p>

      </div>
    </div>
{% endblock %}
