{% extends 'pages/base.html' %}

{% block container %}
     <div class="main_container">
        <div class="container mt-5">
        <h3 class="terms-and-conditions">Terms and Conditions</h3>
        <p>These terms of service ("Terms") applicable to your access and utilization of theforexapi.com (the "service"). Kindly read them carefully.</p>

        <h4>Accepting of these Terms</h4>

        <p>In the event that you access or utilize the service, it implies you give consent to be bound by the terms stated underneath. Kindly read all the terms, before you utilize the service.In the event that you don't give consent to all of the terms beneath, kindly don't utilize the service. Likewise, if a term doesn't sound good to you, reach out to us by emailing at <a href="mailto:theforexapi@gmail.com?subject=support request" target="_blank" rel="noopener">theforexapi@gmail.com</a></p>

        <h4>Changes to these Terms</h4>

        <p>We retain the authority to modify these terms whenever needed.For example, we may have to change these Terms if we come out with a new feature or for any other reason.</p>

        <h4>Privacy Policy</h4>

        <p>For data about how we gather and use data about clients of the Service, kindly look at our privacy policy accessible at theforexapi.com/privacy-policy/</p>

        <h4>Third-party Administration</h4>

        <p>Occasionally, we may furnish you with links to third party websites or services that we don't possess or control. Your utilization of the service may likewise incorporate the usage of applications that are developed or claimed by a third party. Your usage of such third party applications, websites, and services is regulated by that party's own terms of service or privacy policies. We urge you to peruse the terms and conditions and privacy policy of any third party application, website or service that you visit or use.</p>

        <p>Our Information hotspot for currency is https://www.ecb.europa.eu. Kindly, read the  terms and services and privacy policy of https://www.ecb.europa.eu</p>



        <h4>theforexapi.com Materials &amp; Docs</h4>

        <p>We put a great deal of exertion into making the service including, the logo and all plans, text, illustrations, pictures, data and other content (barring your content). This property is possessed by us or our licensors and it is guarded by international copyright laws. We award you the option to utilize it.</p>

        <p>However, unless we explicitly state the otherwise, your privileges exclude: (I) freely performing or publicly displaying the service; (ii) modifying or in any case making any subsidiary employments of the Service or any segment thereof; (iii) utilizing any data mining, robots or similar data gathering or extraction techniques; (iv) downloading (other than page caching) of any bit of the service or any information contained in that; (v) figuring out or getting to the service to fabricate a competitive item or service; or (vi) utilizing the service other than for its proposed purposes. In the event that you do any of this stuff, we may terminate your use of the service.</p>

        <h4>Unavoidable legalities/legal terms</h4>

        <p>THE SERVICE AND ANY OTHER SERVICE AND CONTENT INCLUDED OR IN ANY CASE MADE ACCESSIBLE TO YOU THROUGH THE SERVICE ARE PROVIDED TO YOU AS IS OR AS ACCESSIBLE WITH NO WARRANTIES OR WITH NO REPRESENTATIONS OF ANY SORT. WE DISCLAIM ANY WARRANTIES AND REPRESENTATIONS (EXPRESS OR SUGGESTED, ORAL OR COMPOSED) WITH RESPECT TO THE SERVICE AND CONTENT INCLUDED ON OR IN ANY CASE MADE ACCESSIBLE TO YOU THROUGH THE SERVICE WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM OR USE IN THE TRADE, BY COURSE OF MANAGING OR OTHERWISE.</p>

        <p>IN NO OCCASION WILL THEFOREXAPI.COM BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY UNIQUE, INDIRECT, COINCIDENTAL, EXEMPLARY OR CONSIDERABLE DAMAGES OF ANY SORT EMERGING OUT OF OR REGARDING THE SERVICE OR ANY OTHER SERVICE AS WELL AS CONTENT INCLUDED ON OR IN ANY CASE MADE ACCESSIBLE TO YOU THROUGH THE SERVICE, REGARDLESS OF FORM OF ACTION WHETHER IN AGREEMENT, MISDEED, STRICT LIABILITY OR OTHERWISE, REGARDLESS OF WHETHER WE HAVE BEEN EDUCATED ABOUT THE POSSIBILITY OF SUCH DAMAGES OR WE KNOW ABOUT THE POSSIBILITY OF SUCH DAMAGES. . THIS SEGMENT WILL BE GIVEN FULL EFFECT REGARDLESS OF WHETHER ANY REMEDY SPECIFIED IN THIS AGREEMENT IS CONSIDERED TO HAVE FAILED OF ITS FUNDAMENTAL PURPOSE.</p>

        <p>You give the consent to guard, reimburse and hold us innocuous from and against any expenses, damages, liabilities, and costs (including lawyers' charges, costs, penalties, interest and payment) we incur in relation to, emerging from, or to keep away from, any case or interest from an third party relating to your use of the Service or the utilization of the service by any individual using your account, including any claim that your utilization of the service violates any material law or guideline, or the privileges of any third party, and/or your infringement of these terms.</p>

        <h4>Termination</h4>

        <p>If you breach these Terms, we reserve the privilege to suspend or disable your admittance to or utilization of the service.</p>

        <h4>Entire Agreement</h4>

        <p>These Terms establish the whole arrangement among you and theforexapi.com with respect to the utilization of the service, supplanting any prior agreements between you and theforexapi.com relating with your utilization of the service.</p>


        <h4>Questions &amp; Contact Information</h4>

        <p>Questions or remarks about the service can be directed to us at the email address <strong><a href="mailto:theforexapi@gmail.com?subject=support request" target="_blank" rel="noopener">theforexapi@gmail.com</a></strong></p>

      </div>
    </div>
{% endblock %}
